<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J2k</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!--fontawesome icons-->
    <link rel="stylesheet" href="../static/fontawesome-free-5.15.3-web/css/all.min.css">
</head>
<body>
    <input type="checkbox" id="nav-check">
    <div class="container">
        <header>
            <div class="logo">
                <img src="../static/images/monologo.png" alt="logo">
            </div>
            <div class="nav-cover">
            </div>
            <label for="nav-check">
                <i class="fa fa-bars"></i>
                <i class="fa fa-times"></i>
            </label>
            
            <nav>
                <div class="mobile-logo">
                    <img src="../static/images/monologo.png" alt="logo">
                </div>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#"> Gallery</a></li>
                <li><a href="#">Book</a></li>
            </nav>
        </header>
        <main>
            <div class="landing">
                <div class="info">
                    <div class="info-content">
                        <h1>We Save The Moments</h1>
                        <p>Lorem ipsum dolor 
                        sit amet consectetur adipisicing elit. Vel sed, ut animi quia impedit amet porro quo 
                        sequi exercitationem accusamus totam, odio quaerat eum maxime?</p>
                        <a href="#">
                            Book Now
                        </a>
                    </div>
                </div>
                <div class="triangle">

                </div>
            </div>
            <section class="services">
                <div class="cards">
                    <a href="">
                        <div class="card-content">
                            <img src="../static/images/pexels-donald-tong-66134.jpg" alt="img-desc">
                            <h2>Videograpy </h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing.
                            </p>
                        </div>
                        <div class="mobile">
                            <span><i class="fas fa-video"></i></span>
                            Videograpy 
                        </div>
                    </a>
                </div>
                <div class="cards">
                    <a href="#">
                        <div class="card-content">
                            <img src="../static/images/pexels-fox-225157.jpg" alt="img-desc">
                            <h2>Photograpy</h2> 
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.hdh dghdh at j2k what we
                            </p>
                            <!-- <a href="#" style="align-self:center;">see more</a> -->
                        </div>
                        <div class="mobile">
                            <span><i class="fas fa-camera-retro"></i></span>
                            Photograpy 
                        </div>
                    </a>
                </div>
                <div class="cards">
                    <a href="#">
                        <div class="card-content">
                            <img src="../static/images/pexels-josh-sorenson-976862.jpg" alt="img-desc">
                            <h2>Stage Lighting</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, amet?
                            </p>
                        </div>
                        <div class="mobile">
                            <span><i class="fas fa-lightbulb"></i></span>
                            Stage Lighting
                        </div>
                    </a>
                </div>
                <div class="cards">
                    <a href="#">
                        <div class="card-content">
                            <img src="../static/images/pexels-andre-moura-2897776.jpg" alt="img-desc">
                            <h2>Sound rentals and Maintenace</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            </p>
                        </div>
                        <div class="mobile">
                            <span><i class="fab fa-soundcloud"></i></span>
                            Sound rentals and Maintenace

                        </div>
                    </a>
                </div>
                <div class="cards">
                    <a href="#">
                        <div class="card-content">
                            <img src="../static/images/pexels-cottonbro-3945317.jpg" alt="img-desc">
                            <h2>Cinematograpy</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                        <div class="mobile">
                            <span><i class="fas fa-film"></i></span>
                            Cinematograpy 
                        </div>
                    </a>
                </div>
            </section>
            <section class="about">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum porro consequatur Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum repellendus quas fuga necessitatibus at! Enim itaque rerum blanditiis, pariatur dolore laboriosam iusto corporis optio perspiciatis totam perferendis quisquam, nesciunt esse? placeat laborum inventore totam dolorem aliquid molestias nihil? Quos voluptatibus explicabo, ea, id nostrum nobis rem autem ratione excepturi assumenda tempore perferendis atque nisi expedita. Assumenda commodi maiores iusto.</p>
                <a href="#">Read More</a>
            </section>
            <section class="gallery">
                <div class="v-card">
                    <iframe width="1366" height="707" src="https://www.youtube.com/embed/AbCTlemwZ1k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="g-card card-one">
                    <img src="../static/images/pexels-jonathan-borba-2899707.jpg" alt="img-desc">
                </div>
                <div class="g-card card-two">
                    <img src="../static/images/pexels-fox-225157.jpg" alt="img-desc">
                </div>
                <div class="link">
                    <a href="#">View More</a>
                </div>
            </section>
            <section class="profile">
                <div class="p-card">
                    <img src="../static/images/pexels-tomaz-barcellos-1987301.jpg" alt="ceo-img">
                    <article>
                        <h2>Nonso Onukube</h2>
                        <h4>CEO J2K</h4>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. At voluptate unde sequi saepe perspiciatis delectus a dolores, explicabo sint? Earum ipsam aperiam eum voluptas quidem!
                        </p>

                    </article>
                </div>
            </section>

        </main>
        <footer>
            <div class="contact-form">
                <div class="split-ui">

                </div>
                <form action="">
                    <input type="text" name="title" id="title">
                    <textarea name="content" id="" cols="30" rows="10">

                    </textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="contact">
                <div class="socials">
                    <div class="contacts">
                        <p></p>
                        <p><i class="fas fa-map-marker-alt"></i></p>
                    </div>
                    <div class="accounts">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <nav>
                    <li><a href="#"> Privacy Policy</a></li>
                </nav>
                <div class="powered">
                    <p>&copy;create wonders</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>